{
	frankenphp {
		num_threads 10
		max_threads 30
		max_wait_time 45s
		php_ini {
			expose_php Off
			session.name sid
			session.serialize_handler igbinary
			memory_limit 128M
			max_execution_time 15
			opcache.enable 1
			opcache.memory_consumption 32
			opcache.max_accelerated_files 2000
		}
	}
}
:8080 {
	root * /app/www
	encode zstd br gzip
	php_server {
		index index.php
		resolve_root_symlink false
	}
	try_files {path} {path}/ /index.php?{query}
	file_server {
		hide .*
	}
}
